@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, 'Julee', cursive, sans-serif;
}

@font-face {
  font-family: "burtons";
  src: url("../Burtons.otf");
}


@font-face {
    font-family: "RussoOne";
    src: url("../RussoOne.otf");
  }